/*header*/

.header {
	  padding-top: 50px;
    width: 1350px;
    height: 960px;
    background-image: url(../../img/hero-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
	 &__row {
		 display: flex;
		 flex-direction: row;
		 flex-wrap: wrap;
	   align-items: center; 	 
	}
}