/*header*/

.header {
	padding-top: 50px;
    width: 1200px;
    height: 960px;
    background: $background-img-header;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
	 &__row {
		 display: flex;
		 flex-direction: row;
		 flex-wrap: wrap;
	   align-items: center; 	 
	}
}