.menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	margin: 0;
	padding-left: 0;
	list-style: none;
	
	&__item {
		padding: 0 16px;
	}
	
	&__link {
    font-size: 16px;
    font-family: $main-font-family;
    color: $white-color;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
      
      &:hover {
          font-size: 18px;
          box-shadow: inset 0px 0px 34px 0px gold;
      }
		
	}
}