.magna {
    background-image: url(../../img/2-layers.png);
    background-position: center;
    &__container {
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100%;
        max-width: 1230px;
        height: auto;
        margin: 0 auto;
        padding: 0 15px;
        &__wrapper {
            width: 78%;
            &--title {
                width: 60%;
                margin-top: 100px;
                line-height: 90px;
                font-family: $main-font-family;
                font-size: 45px;
                text-transform: uppercase;
                color: $white-color;
                &:hover {
                     cursor: pointer;
                     color: #FF0000;
                     text-shadow: 3px 3px 2px black, 0 0 1em #ADFF2F;
                     font-size: 40px;
                     transition: all .4s ease; 
                }
            }
            &--description {
                width: 61%;
                color: $white-color;
                font-family: $main-font-family;
                font-size: 22px;
                line-height: 28px;
                &:hover {
                     cursor: pointer;
                     color: gold;
                     text-shadow: 3px 3px 2px black, 0 0 1em gold;
                }
            }
            &--link {
                width: 5%;
                color: $white-color;
                padding: 0;
                font-family: $main-font-family;
                font-size: 18px;
                line-height: 28px;
                text-decoration: underline;
                transition: all .3s ease;
                &:hover {
                    font-size: 20px;
                    cursor: pointer;
                    color: gold;
                }
            }
        }
    }
    &__image {
        width: 22%;
        padding-top: 75px;
    }
}
